services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: postwagens-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    environment:
      - CHOKIDAR_USEPOLLING=true # Helps with file watching in Docker
    restart: always

  postgres:
    image: postgres:13
    container_name: postwagens-postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postwagens
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:6
    container_name: postwagens-redis
    command: redis-server --requirepass admin123
    env_file:
      - ./backend/.env
    ports:
      - "6379:6379"
    restart: always

volumes:
  pgdata: